// vars
$colors: ('1-c': #e63946, '2-c': #f1faee, '3-c': #a8dadc, '4-c': #457b9d, '5-c': #1d3557, '6-c': #9599e2);
$menuSize : 50px;
//global style
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
//animations
@keyframes rotate_scale {
    0% {
        transform: scale(0) rotate(0) translate(25%, -50%);
        opacity: 1;
    }
    100%{
        transform: scale(6) rotate(250deg) translate(-50%, -50%);
        opacity: 0;
    }
}
// main-style
body{
    position: relative;

    .icon {
        position: fixed;
        z-index: 20;
        top: 3%;
        right: 5%;
        text-align: center;
        width: $menuSize;
        height: $menuSize;
        line-height: 200%;
        border-radius: 50%;
        cursor: pointer;
        transition: all 1s ease-in;
        background-color: rgba(160, 235, 185, 0.3);

        &.change-backGround {
            background-color: #fff;
        }
    
        i {
            color: #fff;
            font-size: 2em;
            line-height: $menuSize;
            transition: all 1s ease-in;

            &::before {
                transition: all 1s ease-in;
            }

            &.clicked::before {
                content: '\f00d';
                color: map-get($map: $colors, $key: '6-c');
                transition: .3s ease-in;
            }
        }
    }
}

#main {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url('./gantas-vaiciulenas-XB4m-z4SJqA-unsplash.jpg') no-repeat center/cover fixed;
    overflow: hidden;

    .box {
        position: absolute;
        bottom: 20%;
        left: 10%;
        z-index: 5;
        width: 25px;
        height: 25px;
        border: 2px solid map-get($map: $colors, $key: '1-c' );
        transform: scale(0) rotate(0) translate(-50%, -50%);
        animation: rotate_scale 11s ease-in-out forwards infinite;
        -webkit-animation: rotate_scale 10s ease-in-out forwards infinite;

        &:nth-child(2) {
            border-color: map-get($map: $colors, $key: '2-c');
            animation-delay: 2s;
            left: 50%;
            bottom: 30%;
        }
        &:nth-child(3) {
            border-color: map-get($map: $colors, $key: '5-c');
            animation-delay: 4s;
            left: 50%;
            top: 5%;
        }
        &:nth-child(4) {
            border-color: map-get($map: $colors, $key: '4-c');
            animation-delay: 6s;
            right: 10%;
            top: 20%;
        }
        &:nth-child(5) {
            border-color: map-get($map: $colors, $key: '3-c');
            animation-delay: 8s;
            top: 50%;
            left: 85%;
        }
        &:nth-child(6) {
            animation-delay: 9s;
            top: 50%;
            left: 50%;
        }
    }
}

#navbar {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(135deg, rgba(108, 218, 117, 0.5) 0%, rgba(126, 158, 117, 0.5) 100%);
    display: flex;
    transform: translateY(-100%);
    transition: 1s ease;

    ul#links {
        list-style: none;
        font-family: sans-serif;

        li {
            padding: 5px;
            margin: 15px 0 0;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: -5%;
                left: -5%;
                width: 10px;
                height: 10px;
                border: 3px solid rgb(211, 159, 159);
                border-top: none;
                border-right: none;
                transition: all .4s ease-in;
            }
            &:hover::before {
                width: 100%;
                height: 0;
                left: 0;
            }
            &::after {
                content: '';
                position: absolute;
                top: -5%;
                right: -5%;
                width: 10px;
                height: 10px;
                border: 3px solid rgb(29, 28, 28);
                border-bottom: none;
                border-left: none;
                transition: all .4s ease-in;
            }
            &:hover::after {
                width: 100%;
                height: 0;
                right: 0;
            }

            a {
                text-decoration: none;
                color: #fff;
                font-weight: bold;
                font-size: 1.5em;
                text-transform: uppercase;
              height:100%;
              width:100%;
            }
        }
    }
}